.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #093d53;
  font-size: 18px;
}

.active {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #750a5e;
  font-size: 30px;
}
